body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 82px;
    color: darkslategrey;
}

*:focus {
    outline: none;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    font-size: 82px;
    background-color: transparent;
    border: 0px;
    border-bottom: 4px solid darkslategrey;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 10%;
}